<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.curso.demo.mapper.CursoMapper">

	<resultMap id="CursoMap" type="Curso">
		<id property="id" column="ID_CURSO"/>
		<result property="activo" column="LG_ACTIVO"/>
		<result property="titulo" column="DE_TITULO"/>
		<result property="nivel" column="DE_NIVEL"/>
		<result property="horas" column="NU_HORAS"/>
		<result property="nombreTemario" column="DE_TEMARIO"/>
		<association property="tutor" javaType="Tutor" resultMap="es.curso.demo.mapper.TutorMapper.TutorMap"/>
	</resultMap>
	
	<resultMap id="TemarioCursoMap" type="Curso" extends="CursoMap">
		<result property="contenidoTemario" column="BL_TEMARIO"/>
	</resultMap>

	<select id="selectById" parameterType="Long" resultMap="CursoMap">
		SELECT  
			CURSO.ID_CURSO,
			CURSO.LG_ACTIVO,
			CURSO.DE_TITULO,
			CURSO.DE_NIVEL,
			CURSO.NU_HORAS,
			CURSO.DE_TEMARIO,
			
			TUTOR.ID_TUTOR,
			TUTOR.DE_NOMBRE,
			TUTOR.DE_APELLIDOS
		FROM 
			TBG_CURSO CURSO
			INNER JOIN TBG_TUTOR TUTOR ON CURSO.ID_TUTOR = TUTOR.ID_TUTOR
		WHERE
			CURSO.ID_CURSO = #{value,jdbcType=NUMERIC}
	</select>
	
	<select id="selectTemarioById" parameterType="Long" resultMap="TemarioCursoMap">
		SELECT  
			CURSO.ID_CURSO,
			CURSO.DE_TEMARIO,
			CURSO.BL_TEMARIO
		FROM 
			TBG_CURSO CURSO
		WHERE
			CURSO.ID_CURSO = #{value,jdbcType=NUMERIC}
	</select>
	
	<select id="selectCountByActivo" resultType="Integer">
		SELECT  
			COUNT(ID_CURSO)
		FROM 
			TBG_CURSO  
		WHERE
			LG_ACTIVO = 1
	</select>

	<select id="selectByActivo" parameterType="map" resultMap="CursoMap">
		SELECT  
			CURSO.ID_CURSO,
			CURSO.LG_ACTIVO,
			CURSO.DE_TITULO,
			CURSO.DE_NIVEL,
			CURSO.NU_HORAS,
			CURSO.DE_TEMARIO,
			
			TUTOR.ID_TUTOR,
			TUTOR.DE_NOMBRE,
			TUTOR.DE_APELLIDOS
		FROM 
			TBG_CURSO CURSO
			INNER JOIN TBG_TUTOR TUTOR ON CURSO.ID_TUTOR = TUTOR.ID_TUTOR
		WHERE
			CURSO.LG_ACTIVO = 1
	</select>
	
	<insert id="insert" parameterType="Curso">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
			SELECT SEQ_CURSO.NEXTVAL FROM DUAL
 		</selectKey>
		INSERT INTO TBG_CURSO
		  (
		    ID_CURSO,
			LG_ACTIVO,
			DE_TITULO,
			DE_NIVEL,
			NU_HORAS,
			DE_TEMARIO,
			BL_TEMARIO,
			ID_TUTOR
		  )
		  VALUES
		  (
		    #{id},
		    #{activo},
		    #{titulo},
		    #{nivel},
		    #{horas},
		    #{nombreTemario,jdbcType=VARCHAR},
		    #{contenidoTemario,jdbcType=BLOB},
		    #{tutor.id}
		  )
	</insert>
	
	<update id="update" parameterType="Curso">
		UPDATE 
			TBG_CURSO 
		SET
			LG_ACTIVO = #{activo},
			DE_TITULO = #{titulo},
			DE_NIVEL = #{nivel},
			NU_HORAS = #{horas},
			DE_TEMARIO = #{nombreTemario,jdbcType=BLOB},
			BL_TEMARIO = #{contenidoTemario,jdbcType=BLOB},
			ID_TUTOR = #{tutor.id}
		WHERE 
			ID_CURSO = #{id}
	</update>
	
	<delete id="delete" parameterType="Curso">
		DELETE TBG_CURSO WHERE ID_CURSO = #{id}
	</delete>
</mapper>